/* Gg font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

a {
  color: #1E1E1E;
}

a:hover {
  text-decoration: none;
}

*::selection {
  background: #ff589e;
  color: #FFF;
}

/* Header */
.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  z-index: 7;
}
.header__menu {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  min-height: 80px;
  background-color: #FFFFFF;
  overflow: hidden;
}
.header__logo {
  display: inline-block;
  margin: 25px 30px;
}
.header__nav {
  display: inline-flex;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  padding-left: 0;
}
.header__item {
  padding: 0 20px;
  height: 40px;
  list-style: none;
}
.header__item:last-child {
  padding-right: 0;
}
.header__link {
  font-size: 13px;
  font-weight: 500;
  display: block;
  line-height: 40px;
  color: #1E1E1E;
  letter-spacing: 1px;
}
.header__link:hover {
  color: #ff589e;
  transition: all 0.3s;
}
.header__icon {
  display: none;
  cursor: pointer;
}
.header__icon--close {
  display: none;
  cursor: pointer;
}
.header__nav--mobile {
  width: 100%;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  border-radius: 0 0 40px 40px;
  max-height: 0;
  transition: max-height 0.5s ease;
}
.header__nav--mobile.show {
  display: block;
  max-height: 60vh;
  transition: max-height 0.5s ease;
}
.header__item--mobile {
  list-style: none;
  height: 50px;
  padding: 0;
}
.header__link--mobile {
  display: block;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  font-size: 13px;
  border-top: 1px solid #eee;
  letter-spacing: 1px;
}
.header__link--mobile:hover {
  background-color: rgba(233, 231, 231, 0.9098039216);
  color: #1E1E1E;
  transition: all 0.1s ease;
}
.header__link--last {
  -webkit-border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  border-radius: 0 0 40px 40px;
}

@media screen and (max-width: 1200px) {
  .header__item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 992px) {
  .header__nav {
    display: none;
  }
  .header__icon {
    display: block;
    float: right;
    font-size: 27px;
    margin-top: 20px;
    margin-right: 30px;
  }
  .header__icon.show {
    display: none;
  }
  .header__icon--close {
    display: none;
    float: right;
    font-size: 33px;
    margin-top: 17px;
    margin-right: 30px;
  }
  .header__icon--close.show {
    display: block;
  }
}
/* End header */
/* Section1 */
.banner-home {
  background-image: url(../Images/anhbackground.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-home__content {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
}
.banner-home__title {
  font-size: 36px;
  margin: 0 0 30px;
  letter-spacing: 1.4px;
  line-height: 54px;
}
.banner-home__desc {
  font-size: 15px;
  margin: 0 0 40px;
  line-height: 28px;
  letter-spacing: 0.25px;
}
.banner-home__button--pink {
  font-size: 15px;
  margin: 0 0 40px;
  line-height: 28px;
  letter-spacing: 0.25px;
  padding: 12px 20px;
  background-color: #ff589e;
  font-size: 13px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  transition: all 0.3s;
}
.banner-home__button--pink:hover {
  background-color: #8261ee;
  color: #FFF;
}

/* End section1 */
/* Section2 */
.box-highlight {
  margin-top: -190px;
}
.box-highlight__item {
  background-color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.box-highlight__item:hover .box-highlight__icon {
  background-color: #ff589e;
}
.box-highlight__icon {
  background-color: #8261ee;
  height: 90px;
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 90px;
  margin: auto;
  margin-bottom: 30px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-highlight__title {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: #1E1E1E;
  letter-spacing: 0.7px;
}
.box-highlight__text {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .box-highlight {
    margin-top: 50px;
  }
}
/* End section2 */
/* Section3 */
.banner-content {
  padding-top: 70px;
}
.banner-content__image {
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
.banner-content__imageimg {
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  vertical-align: middle;
}
.banner-content__title {
  margin: 56px 0 30px;
  color: #1E1E1E;
  letter-spacing: 0.25px;
  font-weight: 500;
  line-height: 42px;
}
.banner-content__text {
  color: #777;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
}

/* End section3 */
/* Section4 */
.banner-content--second {
  margin-top: 100px;
  padding: 100px 0;
}
.banner-content--second__image {
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
.banner-content--second__imageimg {
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  vertical-align: middle;
}
.banner-content--second__title {
  margin: 56px 0 30px;
  color: #1E1E1E;
  letter-spacing: 0.25px;
  font-weight: 500;
  line-height: 42px;
}
.banner-content--second__text {
  color: #777;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
}

/* End section4 */
/* Section5 */
.work-process {
  background-image: url(../Images/anhbackground2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work-process__header {
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.25px;
}
.work-process__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}
.work-process__content {
  font-size: 15px;
  margin-bottom: 40px;
}
.work-process__item {
  background-color: #FFF;
  margin-top: 20px;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  display: block;
  z-index: 2;
  text-align: center;
}
.work-process__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #FFF;
  width: 100%;
  opacity: 0.15;
  height: 100%;
  bottom: -10px;
  left: 0px;
  right: -20px;
  margin: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.work-process__item:hover {
  margin-top: 0px;
  transition: all 0.5s;
}
.work-process__item:hover .work-process__text--bold {
  color: #1E1E1E;
}
.work-process__icon {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.work-process__icon--inner {
  font-size: 32px;
  color: #8261ee;
}
.work-process__text--bold {
  display: block;
  margin: 18px 0 5px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.work-process__text {
  color: #777;
  font-size: 14px;
  letter-spacing: 0.75px;
  display: block;
}

/* End section5 */
/* Section6 */
.celebrity-say {
  padding: 100px 0 80px;
}
.celebrity-say__title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 38px;
  margin-bottom: 20px;
  text-align: center;
}
.celebrity-say__text--gray {
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 40px;
  text-align: center;
}
.celebrity-say__item {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.celebrity-say__image {
  margin-left: 25px;
}
.celebrity-say__text--small {
  letter-spacing: 0.6px;
  line-height: 26px;
  margin: 25px 0;
  padding: 0 25px;
  text-align: start;
}
.celebrity-say__image--box {
  float: left;
  margin-left: 25px;
}
.celebrity-say__image--circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.celebrity-say__info {
  float: left;
  margin-left: 20px;
  margin-top: 8px;
}
.celebrity-say__text {
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
}
.celebrity-say__text--pink {
  font-weight: 400;
  color: #ff589e;
  margin: 0;
  padding: 0;
}
.celebrity-say__item:hover .celebrity-say__info {
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
}
.celebrity-say__clear {
  clear: both;
}

/* End section6 */
/* Section7 */
.pricing-plans {
  background-color: #f2f2fe;
  padding: 100px 0 80px;
}
.pricing-plans__title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 38px;
  margin-bottom: 20px;
  text-align: center;
}
.pricing-plans__desc {
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 40px;
  text-align: center;
}
.pricing-plans__item {
  background-color: #FFF;
  text-align: center;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 30px 0 40px;
}
.pricing-plans__item-title {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
}
.pricing-plans__price {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.pricing-plans__price--box {
  background-color: #8261ee;
  width: 80%;
  color: #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 20px 0 13px;
  padding-top: 20px;
}
.pricing-plans__price--box p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
}
.pricing-plans__icon {
  font-weight: 500;
  font-size: 32px;
  position: relative;
  top: -1px;
}
.pricing-plans__number {
  font-weight: 500;
  font-size: 28px;
}
.pricing-plans__text {
  font-weight: 400;
  font-size: 13px;
  color: #7a7a7a;
  letter-spacing: 0.25px;
  margin-bottom: 12px;
}
.pricing-plans__button {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.pricing-plans__link {
  display: block;
  background-color: #8261ee;
  width: 45%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.25px;
  padding: 12px 20px;
}
.pricing-plans__link:hover {
  background-color: #ff589e;
  color: #FFF;
  transition: all 0.3s ease;
}

#pricing-plans__item--pink {
  background-color: #ff589e;
}

@media screen and (max-width: 1200px) {
  .section7-item-button {
    width: 55%;
  }
}
/* End section7 */
/* Section8 */
.statistical {
  background-image: url(../Images/anhbackground3.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.statistical__item {
  height: 340px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.statistical__item:hover .statistical__number {
  margin-top: -30px;
  transition: all 0.3s ease;
}
.statistical__item--after::after {
  content: "";
  background-image: url(../Images/anh7.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 70%;
  height: 32px;
  top: 160px;
  left: 70%;
}
.statistical__number {
  display: block;
  font-weight: 600;
  font-size: 36px;
  color: #FFF;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}
.statistical__text {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
}

/* End section8 */
/* Section9 */
.blog-entries {
  padding: 100px 0 80px;
}
.blog-entries__title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 38px;
  margin-bottom: 20px;
  text-align: center;
}
.blog-entries__desc {
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 40px;
  text-align: center;
}
.blog-entries__image {
  width: 100%;
  height: 200px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.blog-entries__content {
  text-align: center;
  margin-top: 30px;
}
.blog-entries__link {
  margin-bottom: 20px;
}
.blog-entries__link a {
  font-weight: 500;
  font-size: 18px;
  color: #1E1E1E;
  letter-spacing: 0.25px;
  line-height: 26px;
}
.blog-entries__text {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.26px;
  line-height: 26px;
  margin-bottom: 25px;
}
.blog-entries__button {
  display: flex;
  justify-content: center;
}
.blog-entries__button a {
  display: block;
  background-color: #8261ee;
  width: 35%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 13px;
  color: #FFF;
  letter-spacing: 0.25px;
  padding: 12px 20px;
}
.blog-entries__button a:hover {
  background-color: #ff589e;
  color: #FFF;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .blog-entries__button a {
    width: 43%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .blog-entries__image {
    display: flex;
    justify-content: center;
  }
  .blog-entries__button a {
    width: 120px;
  }
}
/* End section9 */
/* Section10 */
.talk {
  background-color: #f2f2fe;
  padding: 160px 0;
}
.talk__title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 38px;
  margin-bottom: 20px;
  text-align: center;
}
.talk__desc {
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 40px;
  text-align: center;
}
.talk__text--left h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1E1E1E;
  letter-spacing: 0.25px;
  line-height: 26px;
  margin-bottom: 30px;
}
.talk__text--left p {
  color: #6F8BA4;
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 26px;
  margin-bottom: 28px;
}
.talk__input {
  width: 100%;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #eee;
  font-size: 14px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.talk__textarea {
  width: 100%;
  height: 150px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #eee;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
.talk__button button {
  display: block;
  background-color: #8261ee;
  border: 0;
  width: 20%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 13px;
  color: #FFF;
  letter-spacing: 0.25px;
  padding: 12px 20px;
}
.talk__button button:hover {
  background-color: #ff589e;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .talk__button button {
    width: 24%;
  }
}
@media screen and (max-width: 768px) {
  .talk__button button {
    width: 150px;
  }
}
/* End section10 */
/* Footer */
.footer {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  padding-top: 30px;
}
.footer__menu {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__menu li {
  background-color: #FFF;
  list-style: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 10px;
}
.footer__link {
  display: block;
  height: 36px;
  width: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link:hover {
  background-color: #ff589e;
  transition: all 0.3s ease;
}
.footer__link:hover .footer__icon {
  color: #FFF;
  transition: all 0.3s ease;
}
.footer__icon {
  font-size: 14px;
  color: #8261ee;
}
.footer__text {
  text-align: center;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
}

/* End footer */

/*# sourceMappingURL=styles.css.map */
